**/bin
**/obj
**/Debug
**/Release
**/*.user
*/*.suo	
**/*.cache
**/*.log
.vs		
**/*.vspscc
**/*.vssscc
**/*.pdb
**/*.dbmdl
**/*.opendb
**/*.jfm
**/*.class
**/*.jar
**/*.war
**/*.ear
**/*.iml
/src/Ayllu.Github.Client/Github/Client/kiota-lock.json
/.vs/Ayllu
